<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="icon" type="image/x-icon" href='{{url_for("static", filename = "favicon.ico")}}'><title>Nutrition Nuts</title>
        {{ dropzone.load() }}
        {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 200px; max-width: 200px;') }}
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script type="text/javascript" src='{{url_for("static", filename = "indexJs.js")}}'></script>
</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Fruits and Veggies are Fruity-licious</span>
    </nav>


    <div class="jumbotron">
        <h1 class="display-4">Facts about fruits and its nutrients!</h1>
        <p class="lead">General understanding about nutrients as vitamins and fiber in fruits.</p>
        <hr class="my-4">
        <p>These charts may let you think about what kind of fruit to eat based on your nutritional purpose.</p>
    </div>



    <div class= row>
        <div class=col-sm-6>
            {{ dropzone.create(action_view='index') }}
        </div>
        <div class=col-sm-6>
            <p id=nextToImage>Uploading an image of your favorite fruit, woul let you knowmore about its nutritional information.</p>
        </div>
    </div>

    <div class= row>
        <div class=col-sm-6>
            <canvas id="chartOne"></canvas>
        </div>
        <div class=col-sm-6>
            <canvas id="chartTwo"></canvas>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <!-- <script type="text/javascript" src="{{url_for('static', filename = 'nutrients.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename = 'results_details.json')}}"></script> -->

</body>
</html>